body{
margin: 0;
font-family: Verdana, Geneva, sans-serif    ;
color: gray;
width: 5000px;
overflow: hidden;
}

body img{
    border: none;
}

#background{
position: fixed;
background-image: url(../resources/BG.png);
height: 80px;
width: 4000px;
z-index: -1;
}

#content{
width: 1000px;
//margin: auto;
}

#nav{
	height: 80px;
	//margin: auto;
	width: 900px;

}

.navbuttons{
	display:table-cell;
	vertical-align: middle;
}

.navbuttons img{
	margin-left: 40px;
	margin-right: 40px;
	width: 200px;
}

.navbuttons a{
	//color: #018fde;
	color: gray;
	font-family: 'Jura', sans-serif;
	font-weight: 600;
	margin-left: 10px;
	margin-right: 10px;
	padding: 16px;
	text-decoration: none;
	width: 100px;
	
	-webkit-transition: color  0.4s ease-out;
	-moz-transition: color  0.4s ease-out;
	-o-transition: color  0.4s ease-out;
	-ms-transition: color  0.4s ease-out;
	transition: color  0.4s ease-out;
}

.navbuttons a:hover{
	//border-bottom: solid 2px #808080;
	color: #018fde;
	
	
	-webkit-transition: color  0.4s ease-out;
	-moz-transition: color  0.4s ease-out;
	-o-transition: color  0.4s ease-out;
	-ms-transition: color  0.4s ease-out;
	transition: color  0.4s ease-out;
}

.contentPage{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 30px;
	text-align: center;
	width: 900px;
	background: red;
	
	
	
	float: left;
}