body
{
    padding: 0;
    margin: 0;
    background-color: #E8E8E8;
    font-family: "Corbel";
}

#nav
{
    background-color: #145ECF;  
    color: white;
    height: 100px;
    position: fixed;
    top: 0;
    width: 2000px;
}

#nav div
{
    display: inline-block;
}

#nav_menu
{
    width: 480px;
    position: fixed;
    top: 40px;
    left: 400px;
}

#nav_menu a
{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

#nav_menu a:hover
{
    color: #707070;
}

#drop
{
	padding: 0;
	margin-top: 22px;
	margin-left: 154px;
}

#drop ul li
{
list-style: none;
}

#drop ul li a
{
	display: block;
	background-color:#145ECF;
	margin-top: 2px;
	padding: 6px;
	width: 180px;
}

#title
{
    margin-top: 14px;
    margin-left: 20px;
    width: 300px;
    text-align: center;
}

#title a
{
    color: white;
    text-decoration: none;
    font-size:40px;
}

#Content
{
    margin-top: 120px;
    margin-left: 60px;
    width: 800px;
}

.post
{
    color: black;
    font-weight: 800;
    font-size: 18px;
    margin-top: 60px;
}

.post a
{
    text-decoration: none;
    color: black;
}

.post h1
{
    font-size: 28px;
}

.post p
{
    font-size: 18px;
}

.readmore a
{
    color: #0033CC;
}
.scrollTop
{
    width: 10px;
    height: 10px;
    padding: 16px;
    background-color: orangered;
    color: white;
    font-weight: bolder;
    position: fixed;
    top:64%;
    left: 0px;
    cursor: pointer;
    text-decoration: none;
    display: none;
}

.ad
{
    height: 250px;
    width: 300px;
    position: fixed;
    top: 120px;
    right: 20px;
}

.ad2
{
    height: 250px;
    width: 300px;
    position: fixed;
    top: 400px;
    right: 20px;
}

#bottomad 
{
    width: 728px;
    margin: auto;
    margin-top: 40px;
}

#archive
{
    margin-top: 40px;
    text-align: center;
}

#archive a
{
    text-decoration: none;
    padding-bottom: 20px;
    color:#B0B0B0 ;
}